<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new MCQ!</title>
</head>
<body>
   
    <h1>CREATE NEW MCQ</h1>
    <div>
        <form action="/mcqcreate" method="post">
            <label for="q">Enter Your Quesion</label>
            <input id="q" type="text" name="question" width="100px">
            <br>
            <br>
            <label for="o1">Create option one</label>
            <input id="o1" type="text" name="optionone" width="40px">

            <label for="o2">Create option two</label>
            <input id="o2" type="text" name="optiontwo" width="40px">

            <label for="o3">Create Option three</label>
            <input id="o3" type="text" name="optionthree" width="40px">

            
            <button>Submit Your Value</button>

        </form>
    </div>
    
</body>
</html>