<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
</head>
<body>
    <div>
        <h1>Please select your question type</h1>
        <form action="/check" method="post">
            <label for="type">Select Your Question Type</label>
            <select name="type" id="type">
                <option value="mcq">mcq</option>
                <option value="short">short</option>
            </select>
            <button>Submit</button>
        </form>
    </div>
    
</body>
</html>