<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All MCQs</title>
</head>
<body>
    <h1>All the MCQs are here</h1>
    <% for (let mcq of mcqmo){ %>
            <h1><%=mcq.question%></h1>
    <%}%>
    
</body>
</html>